.separator {
    padding: 5em 0;
    width: 100%;
}

.background-img-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -2;
}
  
.background-img-container img {
    position: inherit;
    width: 100%;
    bottom: 0;
}