.Nav {
  right: 0;
  top: 0;
  position: fixed;
  width: 10%;
  color: var(--light-gray);
}

.Nav ul {
  position: relative;
  height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--nav);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul > li {
  margin-left: 5%;
  padding: 5%;
  font-family: var(--font1);
  letter-spacing: 0.4rem;
  font-size: 1rem;
}

ul > li:hover, .overline {
  text-decoration: overline;
}

@media screen and (max-width: 1280px) {
  .Nav {
    display: none;
  }
}