.Nav {
  right: 0;
  top: 0;
  position: fixed;
  width: 10%;
  color: var(--light-gray);
}

.Nav ul {
  position: relative;
  height: 100vh;
  margin: 0;
  list-style-type: none;
  background-color: var(--nav);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

ul > li {
  margin: 1vh 0;
  font-family: var(--font1);
  letter-spacing: 0.4vw;
  font-size: 1rem;
}

ul > li:hover, .overline {
  text-decoration: overline;
}

