.Nav {
  right: 0;
  top: 0;
  position: fixed;
  width: 15vw;
}

.Nav ul {
  position: relative;
  height: 100vh;
  margin: 0;
  list-style-type: none;
  background-color: var(--blackest);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cross-text {
  font-size: 0.8vw;
  text-decoration: line-through;
} 

ul > li {
  font-family: var(--font1);
  letter-spacing: 0.1vw;
  font-size: 1.2vw;
  line-height: 200%;
}

