#projects-title {
    color: var(--orange);
}

#cloud1-div {
    width: 80%;
    justify-content: flex-end;
    margin-top: 5%;
}

#cloud1-div img {
    width: 35%;
    filter: brightness(50%); /*not opacity: 0.4; as stars show through*/
    animation: cloud-move 5s ease-in-out alternate infinite;
}

#saturn-div {
    margin-top: -10%;
    width: 80%;
    justify-content: flex-start;
    z-index: -1;
}

#saturn-div img {
    filter: brightness(25%);
    width: 15%;
}

#cloud2-div {
    width: 80%;
    filter: brightness(50%); /*not opacity as stars show through*/
    margin-top: -5%;
    z-index: -1;
}

#cloud2-div img {
    width: 40%;
    animation: cloud-move 7s ease-in-out alternate infinite;
}

#video-div {
    z-index: -1;
    width: 100%;
    margin-top: -80%;
}

#video-div video {
    opacity: 0.2;
    filter: hue-rotate(135deg); 
}

@keyframes cloud-move {
    from {transform: translate(0, 0);}
    to {transform: translate(2em, 0);}
}

@media screen and (max-width: 768px) {
    #video-div {
        display: none;
    }
}