.Project-container {
    width: 50%;
    padding-top: 5%;
}

.Project-container h2 {
    color: var(--orange);
}

.image-container img{
    width: 100%;
    filter: brightness(90%);
    border-radius: 15px;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    width: 100%;
    opacity: 0.9;
    border-radius: 0 0 13px 13px;
}

.text-container p {
    font-size: 0.8em;
    padding: 1%; 
}

.link-icon {
    color: var(--light-gray);
}

.link-icon:hover {
    color: var(--orange); 
}

@media screen and (max-width: 768px) {
    .text-container {
        margin-top: 0;
        background: none;
        border-radius: 0;
        border-bottom: 2px dotted var(--light-gray);
        position: relative;
    }

}

@media screen and (max-width: 1024px) {
    .Project-container {
        width: 70%;
    }
}