.Project-container {
    width: 55%;
    padding: 2% 0;
    border-bottom: 2px dotted var(--gray);
}

.image-container img{
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 15px;
}

.link-container {
    display: flex;
    align-items:stretch;
}

.project-icon {
    font-size: 1.5vw;
}