.star-div {
    position: absolute;
    z-index: -2;
}

.star {
    width: 1px;
    height: 1px;
    background-color: whitesmoke;
}

@keyframes glowing-star {
    
    0% {opacity: 0;}
    20% {box-shadow: 0 0 0.25rem white, 0 0 0.5rem var(--orange), 0 0 0.75rem var(--pink), 0 0 1rem white, 0 0 1.25rem var(--orbit-gray);}
    30% {opacity: 0.8;}
    70% {opacity: 0.8;}
    80% {box-shadow: 0 0 0.25rem white, 0 0 0.5rem white, 0 0 0.75rem white, 0 0 1rem white, 0 0 1.25rem var(--blue), 0 0 1.5rem lightblue 0 0 1.75rem lightblue;}
    100% {opacity: 0;}
    
}