.circle-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-text h2 {
    margin:0;
    font-family: var(--font1);
    font-size: 15vw;
    color: var(--gray);
}

.glowing-circle {
    margin-top: 25vh;
    width: 15vw;
    height: 15vw;
    border-radius:50%;
    background-color: var(--black);
    animation: glowing-sun 5s ease-in-out infinite alternate;
    z-index: 1;
}

.glowing-circle:hover {
    cursor: none;
}

.orbit-small {
    width: 40vw;
    height: 30vw;
    border-radius:50%;
    border: 2px dotted var(--orbit-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-10deg, -10deg);
    animation: orbit-border 4s ease-in-out infinite;
  }

.orbit-big {
    width: 60vw;
    height: 40vw;
    border-radius: 50%;
    border: 2px dotted var(--orbit-gray);
    animation: orbit-border 8s ease-in-out infinite;
    position: absolute;
    z-index: 1;
}

.text {
    margin: 10vh 2vw 2vh 40vw;
}

@keyframes glowing-sun {
    from { box-shadow: 0 0 10px var(--orange), 0 0 20px var(--pink), 0 0 40px var(--pink), 0 0 50px var(--purple), 0 0 60px var(--purple);}
    to {box-shadow: 0 0 20px var(--orange), 0 0 30px var(--pink), 0 0 40px var(--pink), 0 0 50px var(--pink), 0 0 60px var(--pink), 0 0 70px var(--pink);}
}

@keyframes orbit-border {
    0% {border-color: var(--orbit-gray); border-bottom-color: var(--orbit-l-gray);}
    25% {border-color: var(--orbit-gray); border-right-color: var(--orbit-l-gray);}
    50% {border-color: var(--orbit-gray); border-top-color: var(--orbit-l-gray);}
    75% {border-color: var(--orbit-gray); border-left-color: var(--orbit-l-gray);}
    100% {border-color: var(--orbit-gray); border-bottom-color: var(--orbit-l-gray);}
}