@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Hammersmith+One&family=Comfortaa:wght@400&display=swap');

:root {
  --orange: rgba(250,188,100,0.7);
  --pink: rgba(247,101,101,0.7);
  --purple: rgba(170,87,162,0.7);
  --nav: #1c1c1c;
  --black: #1f1f1f;
  --transp-black: rgba(31,31,31,0.95);
  --orbit-gray: #2c2c2c;
  --orbit-l-gray: #424242;
  --light-gray: #4d4c4c;
  --lightest-gray: #626262;
  --font1: 'Hammersmith One', sans-serif;
  --font2: 'Major Mono Display', monospace;
  --font3: 'Comfortaa', cursive;
}

html { 
  font-size: 16px; 
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--lightest-gray);
}

a { /*override link styling*/
  text-decoration: none;
  color: var(--lightest-gray);
}

h1, h2 {
  font-family: var(--font1);
  letter-spacing: 0.2em;
  font-size: 2.5em;
  text-align: right;
  font-weight: normal;
  line-height: 100%;
  color: var(--light-gray);
}

h2 {
  font-size: 1.8em;
}

p {
  font-family: var(--font3);
  font-size: 1em;
  line-height: 150%;
}

.row {
  display: flex;
  flex-direction: row;
}

.relative {
  position: relative;
}

.Main-container {
  width: 90%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.pink {
  color: var(--pink);
}

.orange {
  color: var(--orange);
}

.gray {
  color: var(--light-gray);
}

.gradient {
  animation: gradient 5s alternate infinite;
  font-family: var(--font2);
}

.fade {
  opacity: 0;
}

@keyframes gradient {
  from  {color: var(--purple);}
  to {color: var(--pink);}
}

@media screen and (max-width: 1280px) {
  .Main-container {
    width: 100%;
  }

  h1, h2 {
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 1024px) {
  html { 
    font-size: 14px; 
  }
}

@media screen and (max-width: 640px) {
  html { 
    font-size: 12px; 
  }
}



