@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Hammersmith+One&family=Comfortaa:wght@400&display=swap');

:root {
  --orange: rgba(250,188,100,0.7);
  --pink: rgba(247,101,101,0.7);
  --purple: rgba(170,87,162,0.7);
  --nav: #1e1c1c;
  --black: #212121;
  --orbit-gray: #2c2c2c;
  --orbit-l-gray: #424242;
  --light-gray: #4d4c4c;
  --lightest-gray: #626262;
  --font1: 'Hammersmith One', sans-serif;
  --font2: 'Major Mono Display', monospace;
  --font3: 'Comfortaa', cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--lightest-gray);
}

a { /*override Link styling*/
  text-decoration: none;
  color: var(--lightest-gray);
}

h1, h2 {
  font-family: var(--font1);
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  text-align: right;
  font-weight: normal;
  line-height: 100%;
  color: var(--light-gray);
}

h2 {
  font-size: 2rem;
}

p {
  font-family: var(--font3);
  font-size: 1rem;
  line-height: 150%;
}

.row {
  display: flex;
  flex-direction: row;
}

.Main-container {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.gradient {
  animation: gradient 5s alternate infinite;
  font-family: var(--font2);
}

@keyframes gradient {
  from  {color: var(--pink);}
  to {color: var(--purple);}
}

