@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Hammersmith+One&family=Comfortaa:wght@400&display=swap');

:root {
  --orange: rgba(250,188,100,1);
  --pink: rgba(247,101,101,1);
  --purple: rgba(138,88,172,1);
  --blackest: #1e1c1c;
  --blacker: #212121;
  --gray: #2c2c2c;
  --lighter-gray: #424242;
  --lightest-gray: #4d4c4c;
  --font1: 'Hammersmith One', sans-serif;
  --font2: 'Major Mono Display', monospace;
  --font3: 'Comfortaa', cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--blacker);
  color: var(--lightest-gray);
}

a { /*override Link styling*/
  text-decoration: none;
  color: var(--lightest-gray);
}

h1, h2 {
  font-family: var(--font1);
  letter-spacing: 0.2vw;
  font-size: 2.8vw;
  text-align: right;
  font-weight: normal;
  line-height: 100%;
}

h2 {
  font-size: 2.2vw;
}

p {
  font-family: var(--font3);
  font-size: 0.8vw;
}

#about {
  padding: 0 10%;
  text-align: justify;
  text-align-last: left;
}

#copy-icon {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.Main-container {
  padding-top: 5vw;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient {
  animation: gradient 5s alternate infinite;
  font-family: var(--font2);
}

@keyframes gradient {
  from  {color: var(--purple);}
  to {color: var(--pink);}
}

